.sidebar {
  background-color: white;
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 56px;
  padding-top: 5px;
  width: 72px;
  z-index: 200;
}

@media (min-width: 1300px) {
  .sidebar {
    width: 240px;
  }
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

@media (min-width: 1300px) {
  .sidebar-link {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 25px;
    height: 50px;
  }
}

.sidebar-link:hover {
  background-color: rgb(238, 238, 238);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link p {
  font-size: 10px;
}

@media (min-width: 1300px) {
  .sidebar-link p {
    font-size: 14px;
    padding-left: 20px;

  }
}